__pycache__/
*.py[cod]
*.egg-info
dist
MUJOCO_LOG.TXT
.DS_Store
logdir
.git
.anylearn_sdk
scores
tasks.sh
pretrained_models
tasks*.txt
runTask.py
.vscode/
.idea
plots
*.out
make_tasks*.py
plot
render
temp
test_buffer*.py
platform.info
shuffle_json.py
error.log
test*.log
test_logs
*.log
comp_ckpt.py
test_log.py
*.pkl
data
codezero_data
/*.txt
/*.json
/*.jsonl
/temp.bash
anylearn_*.py
*.png